/*
 * Aidan Smith (2021)
 *
 * SPDX-License-Identifier: MIT
 */

#include <behaviors.dtsi>
#include <dt-bindings/zmk/keys.h>
#include <dt-bindings/zmk/bt.h>
#include <dt-bindings/zmk/ext_power.h>

#define BASE 0
#define LOWER 1
#define RAISE 2
/ {
  behaviors {
    layer_rotate: layer_rotate {
      compatible = "zmk,behavior-sensor-rotate-var";
      label = "LAYER_ROTATE";
      #sensor-binding-cells = <2>;
      bindings = <&to>, <&to>;
    };
  };

		default_layer {
			label = "base";
			bindings = <
				&kp ESC   &kp Q    &kp W    &kp E    &kp R &kp T     &kp Y       &kp U     &kp I     &kp O     &kp P     &kp BSPC
				&lt 3 TAB &kp A    &kp S    &kp D    &kp F &kp G     &kp H       &kp J     &kp K     &kp L     &kp SEMI  &kp RET
				&kp LCAPS &kp Z    &kp X    &kp C    &kp V &kp B     &kp N       &kp M     &kp COMMA &kp DOT   &kp UP  &kp UNDER
				&kp LALT &kp LSHFT &kp LALT &kp BSLH &mo 2 &kp SPACE &lt 1 SPACE &kp UP  &kp LEFT    &kp DOWN  &kp RIGHT &kp C_PP
			>;

			  sensor-bindings =
                <&layer_rotate 1 0>,
                <&inc_dec_kp 0 0>;
		};

		lower_layer {
			label = "lower";
			bindings = <
				&kp LS(GRAVE) &kp LS(N1) &kp LS(N2) &kp LS(N3) &kp LS(N4) &kp LS(N5) &kp LS(N6) &kp LS(N7) &kp LS(N8)    &kp LS(N9)   &kp LS(N0) &kp DEL
				&trans        &trans 	 &trans     &trans     &trans     &trans     &trans     &kp MINUS  &kp EQUAL     &kp LBKT     &kp RBKT   &trans
				&trans        &trans     &trans     &trans     &trans     &trans     &trans     &trans     &kp LS(COMMA) &kp LS(DOT)  &trans     &trans
				&trans        &trans     &trans     &trans     &trans     &trans     &trans     &kp C_MUTE &kp C_VOL_DN  &kp C_VOL_UP &kp C_PP   &trans
			>;
			sensor-bindings = <&layer_rotate 2 0>;
		};

		raise_layer {
			label = "raise";
			bindings = <
				&kp GRAVE &kp N1 &kp N2 &kp N3 &kp N4 &kp N5 &kp N6 &kp N7    &kp N8    &kp N9    &kp N0   &kp BSPC
				&trans    &trans &trans &trans &trans &trans &trans &kp UNDER &kp PLUS  &kp LBRC  &kp RBRC &trans
				&trans    &trans &trans &trans &trans &trans &trans &trans    &trans    &trans    &trans   &trans
				&trans    &trans &trans &trans &trans &trans &trans &kp HOME  &kp PG_DN &kp PG_UP &kp END  &trans
			>;
		sensor-bindings =
                <&layer_rotate 2 1>,
                <&inc_dec_kp C_VOLUME_UP C_VOLUME_DOWN>;
		};
	};
};
